<!-- <app-data-binding></app-data-binding>
<app-assignment1></app-assignment1> -->
<!-- <app-directives></app-directives> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-typescript-userlist></app-typescript-userlist> -->
<!-- <app-products></app-products> -->
<!-- <app-my-modal>
    <img width="400" height="400" src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?cs=srgb&dl=pexels-pixabay-356056.jpg&fm=jpg" alt="">
  </app-my-modal> -->
<!-- <app-demo1></app-demo1> -->
<!-- <app-employee-crud>
   </app-employee-crud> -->
<!-- <app-pipes-demo></app-pipes-demo> -->
<!-- <app-parent-demo></app-parent-demo> -->
<!-- <app-categories></app-categories> -->
 <!-- <app-employee></app-employee> -->
  <app-employee-component></app-employee-component>
