<div class="container">
    <div class="row">
        @for(user of userArr;track $index){
            <div class="col-sm-3">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ user.username }}</h5>
          <p class="card-text"><fa-icon [icon]="faUser"></fa-icon>Name :: {{ user.name }}</p>
          <p class="card-text"><fa-icon [icon]="faEnvelope"></fa-icon> Email :: {{ user.email }}</p>
          <p class="card-text">
            <fa-icon [icon]="faLandmark"></fa-icon>City :: {{ user.address.city }}
          </p>
          <p class="card-text">
            <fa-icon [icon]="faAddressBook"></fa-icon> Street :: {{ user.address.street }}
          </p>
          <p class="card-text"><fa-icon [icon]="faPhone"></fa-icon>Phone :: {{ user.phone }}</p>
          <!-- <a href="#" class="btn btn-primary">Details</a> -->
        </div>
      </div>
    </div>
    }
  </div>
</div>