<!-- <h2 class="text-center">Directives</h2>
<div class="border border-2 rounded-2 p-2 m-2">
    <div>if-else Directive</div>
    <div>
        <input type="number" [(ngModel)]="num" class="mx-2" />
    </div>
    @if(num%2===0){
    <div>{{ num }} is even</div>
    }@else{
    <div>{{ num }} is odd</div>
    }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <div>switchCase</div>
    @switch (num) {
        @case (1) {<h2>Monday</h2>}
        @case (2) {<h2>Tuesday</h2>}
        @case (3) {<h2>Wednesday</h2>}
        @case (4) { <h1>Thursday</h1> }
        @case (5) { <h1>Friday</h1> }
        @case (6) { <h1>Saturday</h1> }
        @case (7) { <h1>Sunday</h1> }
        @default{<h2>not a valid number</h2>}
        }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <div>learn 'for' directive</div>
    <ol>
        @for(team of f1Teams;track $index){
            <li>{{team}}</li>
        }
    </ol>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
                <th>EmployeeID</th>
                <th>name</th>
                <th>salary</th>
                <th>gender</th>
            </tr>
        </thead>
        <tbody>
            @for(emp of employees;track $index){
            <tr>
                <td>{{emp.eId}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.gender}}</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="border border-2 rounded-2 p-2 m-2">
    <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
                <th>EmployeeID</th>
                <th>name</th>
                <th>salary</th>
                <th>gender</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            @for(emp of employees;track $index){
            <tr>
                <td>{{emp.eId}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.sal}}</td>
                <td>{{emp.gender}}</td>
                @if(emp.sal>8000){
                    <td>high Earner</td>
                }@else{
                    <td>regular Employee</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
<button class="btn btn-primary" (click)="isLogged()">login</button>
   <div>
     @if(isLoggedIn){
        <h2>welcome Back !!</h2>
    }@else{
        <h2>please login</h2>
    }
   </div>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <div>
        @if(userRole=='manager'){
            <h2>hello Manager</h2>
        }@else if(userRole==='admin'){
            <h2>hello Admin</h2>
        }@else{
            <h2>welcome guest</h2>
        }
    </div>
</div>
<div class="border border-2 rounded-2 p-2 m-2">
@switch (userRole) {
  @case ('admin') { <p>Welcome Admin</p> }
  @case ('manager') { <p>Welcome Manager</p> }
  @default { <p>Access limited</p> }
}
</div> 


<div class="border border-2 rounded-2 p-2 m-2">
    <h3>using ul list</h3>
    <ul>
        @for(team of f1Teams;track $index){
        <li>{{team}}</li>
        }
    </ul>
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <select [(ngModel)]="selectedDept">
        <option value="IT">IT</option>
        <option value="HR">HR</option>
        <option value="Finance">Finance</option>
    </select>

    @switch (selectedDept){
        @case ('IT') {
            <table class="table table-bordered">
                <tbody>
                        @for(emp of employees1;track $index){
                            @if(emp.dept=='IT'){
                        <tr>
                        <td>{{emp.eId}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.dept}}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
          @case ('Finance') {
            <table class="table table-bordered">
                <tbody >
                        @for(emp of employees1;track $index){
                            @if(emp.dept=='Finance'){
                        <tr>
                        <td>{{emp.eId}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.dept}}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
            @case ('HR') {
            <table class="table table-bordered">
                <tbody >
                        @for(emp of employees1;track $index){
                            @if(emp.dept=='HR'){
                        <tr>
                        <td>{{emp.eId}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.dept}}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @default {
        <p>Please select a department</p>
}
    }
</div>


<div class="border border-2 rounded-2 p-2 m-2">
    <select [(ngModel)]="selectedDept">
        <option value="All">All Departments</option>
        <option value="IT">IT</option>
        <option value="HR">HR</option>
        <option value="Finance">Finance</option>
    </select>
            <table class="table table-bordered form-select w-auto mb-3">
                <tbody>
                        @for(emp of employees1;track $index){
                            @if(emp.dept==selectedDept || selectedDept=='All'){
                        <tr>
                        <td>{{emp.eId}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.sal}}</td>
                        <td>{{emp.gender}}</td>
                        <td>{{emp.dept}}</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
</div>


<div class="border border-2 m-2 p-2">
    <ul>
        @for(task of tasks;track $index){
        <li
            [ngClass]="{completed:task.completed}"
            [ngStyle]="{
                'color':task.completed?'green':'black'
            }">
            <input type="checkbox" [checked]="task.completed" (change)="toggleTask(task)"/>
            {{task.title}}
            completed: {{task.completed}}
        </li>
    }
    </ul>
</div> -->

<!-- <div class="border border-2 m-2 p-2"> -->
<!-- <input type="text" [value]="username">
    <p>Hello, {{ username }}</p>

      <input type="text" [(ngModel)]="username1">
    <p>Hello, {{ username1 }}</p>

    <button class="btn btn-primary" [disabled]="isDisabled">iam the one who gets toggled</button>
   

    <button class="btn btn-primary mx-2" (click)="isDisabled=!isDisabled">toggle</button>
    <input [disabled]="isDisabled" class="mx-2" [placeholder]="placeholder()">


  <input type="checkbox" [checked]="showPassword" (change)="showPassword = !showPassword">
  Show Password


<input [type]="showPassword ? 'text' : 'password'" value="mypassword" />

<input [value]="defaultText">

<button (click)="changeDefault()">
  Change Text
</button> -->
<!-- </div> -->
<!-- <h3 class="text-center mt-4">attribute directives</h3>
<div class="border border-2 rounded-2 p-2 m-3">
    <h3 class="text-center">ngStyle</h3>
    <input type="number" [(ngModel)]="num1">
    <p [style.color]= "num1%2==0? 'blue':'red'" >add a style</p>
    <p [style.fontSize.px]= "num1%2==0? '48':'24'"> Add style with unit </p>
    <p [style.background-color]="flag? 'red':'yellow'">add background-color dynamically</p>
    <button class="btn btn-primary" (click)="flag=!flag">color change</button>
    <p [ngStyle]="num1%2==0?myStyle1:myStyle2">ngStyles for multiple values</p>
    <p [ngStyle]="myFunction()">ngStyles using function method</p>
    <button class="btn btn-primary" (click)="flag=!flag">ngStyle button</button>
</div>

<div class="border border-2 rounded-2 p-2 m-3">
    <h3 class="text-center">ngClass</h3>
<input [(ngModel)]="num1" type="number">
<button [ngClass]="num1%2==0? 'btn-success':'btn-danger'" class="btn mx-2">button</button>
</div> -->

<div class="border border-2 rounded-2 m-2 p-2">
  <h3 class="text-center">assignment</h3>
  <h4>problem1</h4>
  <div>
    <select [(ngModel)]="selection">
      <option value="All">All</option>
      <option value="completed">completed</option>
      <option value="pending">pending</option>
    </select>
  </div>

  <ul>
    @for(task of tasks;track $index){ @if(selection === 'All' || (selection === 'completed' &&
    task.completed) || (selection === 'pending' && !task.completed)) {
    <li [ngStyle]="task.completed ? { 'text-decoration': 'line-through' } : {}">
      <input type="checkbox" (change)="taskToggle(task)" [checked]="task.completed" />
      {{ task.title }}
      {{ task.completed }}
    </li>
    } }
  </ul>
</div>

<div class="border border-2 rounded-2 m-2 p-2">
  <h4>problem2</h4>
  <select [(ngModel)]="selectedCategory">
    <option value="all">All</option>
    <option value="electronics">Electronics</option>
    <option value="jewelery">Jewelery</option>
    <option value="men's clothing">Men's Clothing</option>
    <option value="women's clothing">Women's Clothing</option>
  </select>
  <div class="container">
    <div class="row">
      @for(c of filteredproducts(); track c.id) {
      <div class="col">
        <div class="card text-center" style="width: 10rem">
          <img [src]="c.image" />
          <div class="card-body">
            <h6 class="card-title">{{ c.title }}</h6>
            <p class="card-text">${{ c.price }}</p>
            <p class="card-text">{{ c.category }}</p>
          </div>
        </div>
      </div>
      } @empty {
      <p class="text-center">No products found.</p>
      }
    </div>
  </div>
</div>

<div class="border border-2 rounded-2 m-2 p-2">
  <h4>problem3</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      @for(i of cartItems;track $index){
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.price }}</td>
        <td>
          <button class="btn-sm" (click)="increase(i)">+</button>
          <button class="btn-sm mx-2" (click)="decrease(i)">-</button>
        </td>
        <td>{{ i.price * i.qty }}</td>
      </tr>
      }
    </tbody>
  </table>
  <div class="text-end">
    <h4>Total: ₹{{ total() }}</h4>
  </div>
</div>

<div class="border bordered-2 m-2 p-2">
  <h3 class="text-center mb-2">Question 4</h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>eId</th>
        <th>Name</th>
        <th>Sal</th>
        <th>Gender</th>
        <th>Dept</th>
        <th>Status</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(emp of employees2;track $index){
      <tr>
        <td>{{ emp.eId }}</td>
        <td>{{ emp.name }}</td>
        <td
          [ngStyle]="{ color: emp.sal > 50000 ? 'green' : 'red' }"
          [ngClass]="{
            'salary1': emp.sal > 70000,
            'salary2': emp.sal >= 40000 && emp.sal <= 70000,
            'salary3': emp.sal < 40000
          }"
        >
          {{ emp.sal }}
        </td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.dept }}</td>
        <td [ngClass]="{ 'inactive': emp.status === 'Inactive' }">{{ emp.status }}</td>
        <td
          [ngClass]="{ 'manager': emp.role === 'Manager' }"
          [ngStyle]="{
            'background-color':
              emp.role === 'Manager'
                ? 'lightyellow'
                : emp.role === 'Developer'
                ? 'lightblue'
                : 'lightpink'
          }"
        >
          {{ emp.role }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
